/* @font-face {
    font-family: SFProDisplay-Regular;
    src: url(fonts/SFProDisplay-Regular.ttf);
} */
body {
    font-family: inherit;
    background-color: rgb(240, 240, 240);
}

h2 {
    display: block;
    font-size: 26px;
    font-family: Roboto;
    letter-spacing: 1.5px;
    font-weight: bold;
    display: block;
    width: 40%;
    margin-left: 5.3em;
    margin-top: -0.3em;
    font-weight: bolder;
}

.img {
    width: 24%;
    display: block;
    margin-top: 13.5%;
    margin-left: 8.5%;
}

.ctrl {
    display: block;
    border: 2px solid white;
    background-color: white;
    margin: 0 auto;
    margin-left: 55%;
    margin-right: 13%;
    padding: 5px;
    border-radius: 10px;
    padding-bottom: 20px;
    margin-top: -15em;
    box-shadow: 0 5px 5px 5px rgb(216, 216, 216);
}

.input {
    display: inline-block;
    position: relative;
    padding: 10px;
}

.ci {
    display: inline-block;
    width: 90%;
    padding: 15px;
    margin-bottom: 13px;
    border-radius: 5px;
    font-size: 17px;
    border-color: rgb(240, 240, 240);
}

.ci1 {
    display: inline-block;
    width: 90%;
    padding: 15px;
    border-radius: 5px;
    font-size: 17px;
    border-color: rgb(240, 240, 240)
}

.btn {
    display: inline-block;
    width: 93.5%;
    padding: 12px;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 2px;
    margin-top: 2px;
    margin-left: 10px;
    border-color: #1877f2;
    background-color: #1877f2;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.ref {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn1 {
    display: inline-block;
    width: 50%;
    padding: 12px;
    border-radius: 5px;
    font-size: 17px;
    margin-bottom: 2px;
    margin-top: 2px;
    margin-left: 25%;
    border-color: #42B72A;
    background-color: #42B72A;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.cb {
    display: block;
    border-top: 2px solid rgb(240, 240, 240);
    width: 100%;
    padding: 5px;
    margin-top: 20px;
    padding-top: 25px;
    padding-right: -10em;
    padding-bottom: 0px;
}

.para {
    font-family: Arial, Helvetica, sans-serif;
}

.para p {
    text-align: right;
    margin-right: 13.5em;
    font-size: 15px;
    margin-top: 2em;
}

.para p a {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    text-decoration: none;
    color: black;
}

.para p a:hover {
    text-decoration: underline;
}

.ft {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    /* border: 2px solid black; */
    background-color: white;
    margin-top: 16%;
}

.list {
    display: block;
    list-style-type: none;
    padding-bottom: 30px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #737373;
    border-bottom: 1px solid #dddfe2;;
    padding: 10px;
    width: 75%;
    margin-bottom: -1%;
    margin-left: 9.8%;
}

.list li {
    display: inline-block;
    padding-left: 8px;
}

.list li a {
    margin-bottom: 100px;
    text-decoration: none;
    color: #8a8d91;
}
.list li a:hover{
    text-decoration: underline;
}
.list1 {
    display: block;
    /* border: 2px solid black; */
    list-style-type: none;
    padding-bottom: 30px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    width: 75%;
    margin-left: 9.5%;
}

.list1 li {
    display: inline-block;
    padding-left: 12px;
    padding-bottom: 12px;
}

.list1 li a {
    margin-bottom: 100px;
    text-decoration: none;
    color: #8a8d91;
}
.list1 li a:hover{
    text-decoration: underline;
}
.p{
    display: block;
    /* border: 2px solid black; */
    list-style-type: none;
    padding-bottom: 30px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    width: 75%;
    margin-left: 10.3%;
    margin-top: -1.3em;
    color: #8a8d91;
}